body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
  }
  
  .logo {
    width: 80px;
  }
  
  .buttons {
    display: flex;
    gap: 110px;
  }
  
  .call-button, .book-button {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .call-button {
    background-color: #76cdd8;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .call-button img {
    width: 20px;
    height: 20px;
  }
  
  .book-button {
    background-color: #004c75;
    color: white;
    font-size: 14px;
    width: 130px;
  }
  
  .hero {
    position: relative;
    text-align: center;
  }
  
  .hero-image {
    width: 100%;
    height: auto;
  }
  .gapandwidth{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 109%;
  }

  .stats {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 50px auto;
  }
  
  .stat-card {
    background: #eee;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 250px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #76cdd8;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .routes {
    text-align: center;
    padding: 40px 20px;
  }
  .distance{
    margin-left: -35vw;
  }
  .distances{
    margin-left: -11vw;
  }
  .Ptexstst{
    margin-left: 41vw;
  }
  
  .routes h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .routes p {
    font-size: 16px;
    margin: 0 auto 30px;
    color: #555;
    margin-left: 41vw;
  }
  
  .route-cards {
    display: flex;
    justify-content: center;
    gap: 10vw;
  }
  
  .route-card {
    background: #76cdd8;
    border-radius: 12px;
    overflow: hidden;
    width: 300px;
    text-align: center;
    padding-bottom: 15px;
  }
  
  .route-card img {
    width: 100%;
    height: auto;
  }
  
  .route-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .route-info img {
    width: 24px;
    height: auto;
  }
  
  .register-button {
    background:  #76cdd8;
    border: 2px solid black;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 16px;;
    transition: 0.3s;
  }
  
  .register-button:hover {
    background:  #004c75;
    color:  #76cdd8;
  }
  .why-travel {
    text-align: center;
    padding: 70px 20px;
  }
  
  .why-travel h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .why-travel{
    margin-left: -37vw;
  }

  .why-travel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20vw;
    margin-left: 40vw;
  }
  
  .features {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .feature-card {
    background: #76cdd8;
    padding: 15px;
    width: 250px;
    border-radius: 12px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  .feature-card span {
    font-size: 22px;
  }
  .modal-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .nav-button {
        transform: translateY(-680%);
        background-color: rgba(0, 0, 0, 0.5);
        border: none;
        color: white;
        font-size: 24px;
        padding: 10px 15px;
        cursor: pointer;
        z-index: 10;
        gap: 20vw;
        display: flex;
  }
  
  .nav-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  
  .next {
    right: -30px;
  }
  
  .slider button:hover {
    background: black;
    color: white;
  }
  
  .container {
    display: flex;
    gap: 20vw;
    margin-left: 24vw;
    margin-top: 7vw;
  }
  
  .card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 370px;
    text-align: center;
    border: 3px solid #76cdd8;
    height: 35.7vw;
    
  }
  
  .flag {
    width: 40px;
    margin-bottom: 10px;
  }
  
  h2 {
    margin: 0;
    font-size: 20px;
    
  }
  
  .route p {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px dashed #ddd;
  }
  
  .pricess {
    font-weight: bold;
    width: 100px;
    height: 12.7%;
    border-radius: 5px;
    margin-top: 7.3vw;
    margin-left: -1vw;
  }
  .pricesst {
    font-weight: bold;
    width: 100px;
    height: 12.7%;
    border-radius: 5px;
    margin-top: 7.3vw;
    margin-left: -0.5vw;
  }
  .pricesss {
    font-weight: bold;
    height: 12.7%;
    border-radius: 5px;
    margin-top: 7.3vw;
    margin-left: -1.5vw;
  }
  .price {
    background: #64c4d4;
    font-weight: bold;
    width: 112%;
    margin-left: -1vw;
    height: 13.5%;
    border-radius: 5px;
    margin-top: 7.3vw;
  }
  .priced {
    background: #64c4d4;
    font-weight: bold;
    width: 112%;
    margin-left: -1.2vw;
    height: 5vw;
    border-radius: 5px;
    margin-top: 11vw;
  }
  .pricedd {
    background: #64c4d4;
    font-weight: bold;
    width: 112%;
    margin-left: -1.2vw;
    height: 5vw;
    border-radius: 5px;
    margin-top: 4.5vw;
  }
  
  .prices {
    background: #64c4d4;
    font-weight: bold;
    margin-top: 10px;
    width: 114%;
    margin-left: -1vw;
    height: 12.7%;
    border-radius: 5px;
  }
  button {
    color: black;
    cursor: pointer;
    margin-left: -45px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(118, 205, 216);
    border-image: initial;
  }
  .buttonn {
        margin-left: -20px;
        margin-top: 10px;
        border: 3px solid #76cdd8;
        color: black;
        padding: 10px;
        border-radius: 15px;
        cursor: pointer;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        margin-right: 15px;
  }
  
  button:hover {
    background: #005E8A;
  }
  .faq-container {
    width: 80%;
    max-width: 600px;
    margin-left: 12vw;
    margin-top: 5vw;
  }
  
  .faq-item {
    border: 3px solid #76cdd8;
    border-radius: 8px;
    margin-bottom: 10px;
    background: #f8f9fa;
  }
  
  .faq-question {
    padding: 15px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .toggle {
    font-size: 20px;
  }
  
  .faq-answer {
    padding: 10px 15px;
    background: #e9ecef;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-out;
  }
  .jen {
    margin-left: 49vw;
    margin-top: -35vw;
  }
  
  .clos {
    background-color: #65CDD8;
    margin-left: -60vw;
    margin-top: 7vw;
    height: 100%;
  }
  
  .tcs {
    padding-left: 76vw;
    padding-top: 80px;
  }
  
  .foo {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: stretch;
        margin-top: -6vw;
        margin-left: 120vw;
        gap: 10vw;
  }
  .containers {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        border-radius: 10px;
        max-width: 300px;
        max-height: 190px;
        border: 3px solid #76cdd8;
  }
  
  .route-infoss {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-right: 26px;
        margin-left: 5px;
  }
  .price-and-button{
        margin-top: -6vw;
  }
  .clicсі {
    background-color: #005E8A;
    color: white;;
  }
  .btclic{
    border:#005E8A;
  }
  .modal-content {
    background-color: #65CDD8;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 870px;
    height: 800px;
    border-radius: 10px;
  }
  .modal{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 102%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  form {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
  }
  
  label {
    margin-top: 10px;
  }
  
  input[type="text"],
  input[type="date"] {
    padding: 10px;
    margin-top: 5px;
  }
  .modalls {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-contentnts {
    background-color: #6dd2e0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 50%;
    text-align: center;
    margin-left: 25%;
    margin-top: 6vw;
  }
  .prapor{
    display: flex;
    justify-content: center;
    gap: 30%;
    margin-top: 19px;
  }
  .colontss{
    display: flex;
    justify-content: center;
    gap: 20%;
  }
  .wicno{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: -14.5vw;
    margin-left: -8px;
    gap: 17px;
  }
  .gapandwidth{
    display: flex;
    gap: 102%;
  }
  .routes-grip{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-around;
  }
  .width{
    display: flex;
    justify-content: space-around;
  }
  .widthh{
    display: flex;
    justify-content: space-around;
    margin-top: 9vw; 
  }
  .heder{
    margin-left: 16vw; 
    font-size: 28px;
  }
  .description{
    margin-left: 16vw;
  }
  .butt{
    width: 12vw;
    border-color: #004c75;
    background: #005E8A;
    color: white;
  }
  .gapp{
    margin-top: -3vw;
    margin-left: 3vw;
  }
  .sandey{
    margin-top: 5px;
  }
  .wdht{
    padding-top: 7vw;
  }
  .heds{
    margin-left: 16vw;
    font-size: 28px;
}

.text{
  padding-top: 1vw;
}
.hes{
    margin-top: 8vw;
    margin-left: 16vw;
    font-size: 28px;
    font-weight: bold;
}
  

  
@media (max-width: 768px) {
    .header{
        margin-left: -18px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo{
        width: 40px;
    }
   .buttons{
    display: flex;
    gap: 55px;
   }
   .call-button{
    width: 30px;
    height: 30px;
   }
   .stats{
    display: flex;
    flex-direction: column;
    align-items: center;
   }
   .stat-card {
    width: 203px;
    height: 17vw;
   }
   .routes h2{
    margin-left: 30vw;
    font-size: 23px;
    margin-bottom: 10px;
   }
   .routes p {
    font-size: 14px;
    margin: 0 auto 30px;
    color: #555;
    margin-left: 35vw;
   }
   .route-cards {
    display: flex;
    gap: 10vw;
    flex-direction: column;
    align-items: center;
   }
   .route-card {
    width: 250px;
   }
   .why-travel h2{
    margin-left: -3vw;
    width: 370px;
   }
   .why-travel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20vw;
    flex-direction: column;
   }
   .distancet {
    margin-left: 39vw;
   }
   
   .modal{
    width: 270px;
    height: 80vw;
   }
   .modall{
    width: 65vw;
   }
   .gapandwidth{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 110%;
    margin-top: 47vw;
    margin-left: -15px;
   }
   .popular-routes{
    margin-top: -52vw;
   }
   .width{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .widthh {
    display: flex;
    justify-content: space-around;
    margin-top: 9vw;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .heder{
    margin-left: 5vw;
    font-size: 28px;
  }
  .description{
    margin-left: 6vw;
  }
  .container {
    display: flex;
    gap: 20vw;
    margin-left: 8vw;
    margin-top: 7vw;
    flex-direction: column;
}
.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 290px;
  text-align: center;
  border: 3px solid #76cdd8;
  height: 151vw;
}
.priced {
  background: #64c4d4;
  font-weight: bold;
  width: 115%;
  margin-left: -6vw;
  height: 19vw;
  border-radius: 5px;
  margin-top: 34.4vw;
}
.gapp{
    margin-left: 11vw;
    margin-top: -14vw;
}
.butt{
  width: 36vw;
    border-color: #004c75;
    background: #005E8A;
    color: white;
}
.pricedd {
  background: #64c4d4;
  font-weight: bold;
  width: 116%;
  margin-left: -6vw;
  height: 17vw;
  border-radius: 5px;
  margin-top: 4.5vw;
}
.jen {
  margin-left: -9vw;
  margin-top: 15vw;
}
.foorr{
  width:  95vw;
}
.foo {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: stretch;
  margin-top: -6vw;
  margin-left: 76vw;
  gap: 1px;
}
.btclic {
  border: #005E8A;
  opacity: 0;
}
.modal-contentnts {
  background-color: #6dd2e0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin-top: 6vw;
  width: 90%;
  margin-left: 1px;
}
.prapor {
  display: flex;
  justify-content: center;
  gap: 23%;
  margin-top: 19px;
}
.colontss {
  display: flex;
  justify-content: center;
  gap: 4%;
  font-size: 11px;
}
.wicno{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: -44vw;
    margin-left: -14px;
    gap: 14px;
    font-size: 11px;
}
.sandey{
  margin-top: -6px;
}
.wdht{
  padding-top: 11vw;
}
.hedss{
  margin-top: 22vw;
  width: 92vw;
  margin-left: 60px;
  font-size: 28px;
}
.hes {
  margin-top: 19vw;
  margin-left: 16vw;
  font-size: 28px;
  font-weight: bold;
}
.fo{
  width: 21vw;
}

}
@media (max-width: 430px) {
  .wdht{
    padding-top: 11vw;
  }
  .priced {
    background: #64c4d4;
    font-weight: bold;
    width: 115%;
    margin-left: -5.4vw;
    height: 19vw;
    border-radius: 5px;
    margin-top: 44vw;
}
 .pricedd {
  background: #64c4d4;
  font-weight: bold;
  width: 116%;
  margin-left: -6vw;
  height: 17vw;
  border-radius: 5px;
  margin-top: 17vw;
}
.faq-container {
  width: 80%;
  max-width: 600px;
  margin-left: 12vw;
  margin-top: 25vw;
}
.wicno {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: -44vw;
  margin-left: -14px;
  gap: 13.5px;
  font-size: 11px;
}
.sandey {
  margin-top: -3px;
}
.hes {
  margin-top: 19vw;
  margin-left: 16vw;
  font-size: 28px;
  font-weight: bold;
}
.fo{
  width: 21vw;
}
}

  /* ======== 💻 Стандартні ноутбуки (1366x768, 1440x900, 1536x864) ======== */
  @media (min-width: 769px) and (max-width: 1600px) {
    .buttons {
      display: flex;
      gap: 110px;
      margin-right: 1vw;
  }
  .stats {
      display: flex;
      margin-left: -10vw;
      gap: 20px;
      margin: 50px auto;
}
.hero-image {
       width: 103%;
       height: auto;
}
  .distances {
      margin-left: -19vw;
}
.hed{
      margin-left: 16vw; 
      font-size: 28px;
}
.heds{
     margin-left: 8vw;
     font-size: 28px;
}
.description{
     margin-left: 16vw;
}

.routes p {
     font-size: 16px;
     margin: 0 auto 30px;
     color: #555;
     margin-left: 41vw;
     width: 82vw;
}
.routes h2 {
     font-size: 28px;
     font-weight: bold;
     margin-bottom: 10px;
     margin-left: -19vw;
}
.route-cards {
     display: flex;
     justify-content: center;
     gap: 15vw;
     margin-right: -3vw;
}
.why-travel h2 {
     font-size: 28px;
     font-weight: bold;
     margin-bottom: 20px;
     margin-left: -6vw;
}
.why-travel-container {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 10vw;
     margin-left: 30vw;
}
h2 {
     font-size: 20px;
}
.heder {
     margin-left: 8vw;
     font-size: 28px;
}
.description {
     margin-left: 8.3vw;
}
.width {
     display: flex;
     gap: 4vw;
     margin-left: 4vw;
     margin-top: 5vw;
}
.widthh {
  display: flex;
  gap: 5vw;
  margin-left: 4vw;
  margin-top: 5vw;
}
.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 370px;
  text-align: center;
  border: 3px solid #76cdd8;
  height: 44vw;
}
.priced {
  background: #64c4d4;
  font-weight: bold;
  width: 113.4%;
  margin-left: -1.6vw;
  height: 6vw;
  border-radius: 5px;
  margin-top: 10vw;
}
.gapp {
  margin-top: -3.9vw;
  margin-left: 3vw;
}
.pricedd {
  background: #64c4d4;
  font-weight: bold;
  width: 113%;
  margin-left: -1.6vw;
  height: 5.5vw;
  border-radius: 5px;
  margin-top: 1.5vw;
}
.text{
  padding-top: 0.5vw;
}
.container{
    display: flex;
    gap: 15vw;
    margin-left: 15vw;
    margin-top: 7vw;
}
.faq-container {
  width: 80%;
  max-width: 600px;
  margin-left: 3vw;
  margin-top: 12vw;
}
.jen {
  margin-left: 51vw;
  margin-top: -45vw;
}
.tcs {
  padding-left: 69vw;
  padding-top: 89px;
}
.foo {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: stretch;
  margin-top: -12vw;
  margin-left: 105vw;
  gap: 18vw;
}
.nom{
  padding-top: 39px;
}
.modal-contentnts {
  background-color: #6dd2e0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 50%;
  text-align: center;
  margin-left: 20%;
  margin-top: 1vw;
}
.wicno {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: -20.6vw;
  margin-left: -8px;
  gap: 17px;
}
.colontss {
  display: flex;
  justify-content: center;
  gap: 15%;
}
.clos {
  background-color: #65CDD8;
  margin-left: -60vw;
  margin-top: 7vw;
  height: 100%;
  width: 165.5%;
}

}
  
@media (min-width: 601px) and (max-width: 1024px) {
  .header {
    margin-left: -18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.buttons {
  display: flex;
  gap: 79px;
}
.stat-card {
  background: #eee;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 350px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #76cdd8;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 29px;
}
.routes h2 {
  margin-left: 30vw;
  font-size: 29px;
  margin-bottom: 10px;
}
.routes p {
  font-size: 21px;
  margin: 0 auto 30px;
  color: #555;
  margin-left: 35vw;
}
.route-card {
  width: 355px;
}
.distancet {
  margin-left: 45vw;
}
.why-travel h2 {
  width: 600px;
}
.features {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.feature-card {
  background: #76cdd8;
  padding: 15px;
  width: 350px;
  border-radius: 12px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 17vw;
}
.modall {
  width: 65vw;
  margin-top: -9vw;
}
.gapandwidth {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 110%;
  margin-top: 5vw;
  margin-left: -15px;
}
.popular-routes {
  margin-top: -8vw;
}
.wdht {
  padding-top: 11vw;
  margin-left: 3vw;
  font-size: 3vw;
}
.heder {
  margin-left: 25vw;
  font-size: 28px;
}
.description {
  margin-left: 9vw;
}
.container {
  display: flex;
  gap: 20vw;
  margin-left: 30vw;
  margin-top: 7vw;
  flex-direction: column;
}
.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 290px;
  text-align: center;
  border: 3px solid #76cdd8;
  height: 88vw;
}
.priced {
  background: #64c4d4;
  font-weight: bold;
  width: 115%;
  margin-left: -3vw;
  height: 14vw;
  border-radius: 5px;
  margin-top: 25vw;
}
.gapp {
  margin-left: 7vw;
  margin-top: -9vw;
}
.pricedd {
  background: #64c4d4;
  font-weight: bold;
  width: 116%;
  margin-left: -3vw;
  height: 17vw;
  border-radius: 5px;
  margin-top: 5.4vw;
}
.tcs {
  padding-left: 76vw;
  padding-top: 80px;
  width: 32vw;
}
.foo {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: stretch;
  margin-top: -20vw;
  margin-left: 115vw;
  gap: 20px;
}
.nom{
  margin-top: 30px;
}
.modal-contentnts {
  background-color: #6dd2e0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin-top: 6vw;
  width: 90%;
  margin-left: 16px;
  height: 90vw;
}
.prapor {
  display: flex;
  justify-content: center;
  gap: 23%;
  padding-top: 7px;
}
.colontss {
  display: flex;
  justify-content: center;
  gap: 12%;
  font-size: 11px;
  font-size: 15px;
}
.wicno {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: -34vw;
  margin-left: -8px;
  gap: 14px;
  font-size: 15px;
}
.sandey {
  margin-top: 10px;
}
.prapor {
  display: flex;
  justify-content: center;
  gap: 23%;
  padding-top: 7px;
}    
.colontss {
  display: flex;
  justify-content: center;
  gap: 12%;
  font-size: 11px;
  font-size: 15px;
}
.wicno {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: -34vw;
  margin-left: -8px;
  gap: 14px;
  font-size: 15px;
}
.clos {
  background-color: #65CDD8;
  margin-left: -60vw;
  margin-top: 7vw;
  height: 100%;
  width: 165.5%;
}
.route-info img {
  width: 37px;
  height: auto;
}
.hero-image {
  width: 110%;
  height: auto;
}
.fo{
  width: 21vw;
}




}




  

  
 
  
  
  
  
  
  
  
  